{% extends "base.html" %}
{% load static%}
{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
      <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  
    
{% endblock %}

   
{% block content %}
   <body>

    
      
              <!--  Cart Table Start  --> 
              <div class="cart-table">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                      {% if request.session.carrito.items %}
                        <div class="table-responsive">
                           <table class="table table-bordered">
                              <thead>
                                 <tr>
                                    <th scope="col">Borrar</th>
                                    <th scope="col">Imagen</th>
                                  
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                 </tr>
                              </thead>
                              <tbody>
       
                               
                               {% for key, value in request.session.carrito.items %}
                                 <tr>
                                    <td class="action">
                                    
                                       <a href="{% url 'CLSK' key %}"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                    <td>
                                     
                                        <img src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ value.imagen }}" width="200" class="table-img">
                                    </a>
                                
                                    <td class="title"><a class="title">{{ value.nombre }}</a></td>
                                   
                                    <td>
                                       <input class="quantity" type="number" name="cantidad" value= {{ value.cantidad }} min="1" disabled>
                                    </td>
                                    <td class="total"><span>$ {{ value.acumulado }}</span></td>
                                 </tr>
                            {% endfor %}
                            <td colspan="6">
                              
      
                            
                         
         {% else %}
                                
       
                 <div class="alert alert-danger text-center"> Sin Productos </div>
                 
                 <a class="cartbtn shop" href="{% url 'gallery' %}" style="text-align: left;">Galeria</a>
       
       
         {% endif %}
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                      
                     </div>
                  </div>
               </div>
            </div>
            <!--  Cart Table Area End  --> 
      



            <div class="container">
                <h4 class="title">Dirección de envío</h4>
                <div class="form-element">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Ir a Pagar</button>
                        </div>
                    </form>
                </div>
            </div>
            


      
      {% include "footer.html" %}
      
      
   



         
      <!-- popper js -->
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- isotope js -->
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <!-- isotope js -->


      <script src="{% static 'js/pricing-range.js' %}"></script>
      <!-- easyzoom js -->
      <script src="{% static 'js/easyzoom.js' %}"></script>
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
      

      <!-- jquery ui js -->
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <!-- wow js -->
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
   </body>
   {% endblock %}
</html>
