{% extends "base.html" %}
{% load static%}
{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
      <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  
    
{% endblock %}

   
{% block content %}
   <body>

    
      
              <!--  Cart Table Start  --> 
              <div class="cart-table">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                      {% if request.session.carrito.items %}
                        <div class="table-responsive">
                           <table class="table table-bordered">
                              <thead>
                                 <tr>
                                    <th scope="col">Borrar</th>
                                    <th scope="col">Imagen</th>
                                  
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                 </tr>
                              </thead>
                              <tbody>
       
                               
                               {% for key, value in request.session.carrito.items %}
                                 <tr>
                                    <td class="action">
                                    
                                       <a href="{% url 'CLSK' key %}"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                    <td>
                                     
                                        <img src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ value.imagen }}" width="200" class="table-img">
                                    </a>
                                
                                    <td class="title"><a class="title">{{ value.nombre }}</a></td>
                                   
                                    <td>
                                       <input class="quantity" type="number" name="cantidad" value= {{ value.cantidad }} min="1" disabled>
                                    </td>
                                    <td class="total"><span>${{ value.acumulado|floatformat:0 }}</span></td>
                                 </tr>
                            {% endfor %}
                            <td colspan="6">
                              
      
                            
                         
         {% else %}
                                
       
                 <div class="alert alert-danger text-center"> Sin Productos </div>
                 
                 <a class="cartbtn shop" href="{% url 'gallery' %}" style="text-align: left;">Galeria</a>
       
       
         {% endif %}
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                      
                     </div>
                  </div>
               </div>
            </div>
            <!--  Cart Table Area End  --> 

            
            <!-- Checkbox envío start -->
<div class="container" style="padding-bottom: 50px;">
    <!-- Cambiar método a POST -->
     
    <form method="post" action="/checkout/" id="checkoutForm">
        {% csrf_token %}
        <label>
            <input type="radio" name="correo" value="true" id="enviarCorreo">
            Enviar por correo
        </label>
        <br>
        <label>
            <input type="radio" name="correo" value="false" id="retiroPuntosEncuentro" checked>
            Retiro por puntos de encuentro
        </label>
        <br>

        <!-- Campos de correo electrónico y teléfono inicialmente ocultos -->
        <div class="form-element">
        <div id="contactInputs" style="display: block;">
            <label for="email">Email de contacto:</label>
            <input type="email" name="email" id="email" placeholder="Ingrese su email" required>
            <br>
            <label for="telefono">Teléfono de contacto:</label>
            <input type="tel" name="telefono" id="telefono" placeholder="Ingrese su teléfono" required>
            <br>
        </div>
         </div>

        <button type="submit" class="cartbtn4" id="checkoutButton">Continuar al Checkout</button>
    </form>
</div>

<!-- Div que se mostrará si se selecciona "Enviar por correo" -->
<div id="correo" class="container" style="display: none;">
    <h4 class="title">Dirección de envío</h4>
    <div class="form-element">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Ir a Pagar</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Función para mostrar u ocultar los campos de correo electrónico y teléfono basado en el radio button seleccionado
    function toggleCorreoDivAndButton() {
        var enviarCorreo = document.getElementById('enviarCorreo');
        var retiroPuntosEncuentro = document.getElementById('retiroPuntosEncuentro');
        var correoDiv = document.getElementById('correo');
        var contactInputs = document.getElementById('contactInputs');
        var checkoutButton = document.getElementById('checkoutButton');  // Div que contiene los inputs de email y teléfono
        
        if (retiroPuntosEncuentro.checked) {
            contactInputs.style.display = 'block';  // Mostrar los inputs de email y teléfono
            correoDiv.style.display = 'none';
            checkoutButton.style.display = 'block';
            
              // Ocultar el div de envío por correo
        } else {
            contactInputs.style.display = 'none';  // Ocultar los inputs de email y teléfono
            correoDiv.style.display = 'block';
            checkoutButton.style.display = 'none';  // Mostrar el div de envío por correo
        }
    }

    // Asignar la función a los eventos 'change' de los radio buttons
    document.getElementById('enviarCorreo').addEventListener('change', toggleCorreoDivAndButton);
    document.getElementById('retiroPuntosEncuentro').addEventListener('change', toggleCorreoDivAndButton);

    // Llamar a la función al cargar la página para establecer el estado inicial
    toggleCorreoDivAndButton();
</script>





      
      {% include "footer.html" %}
      
      
   



         
      <!-- popper js -->
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- isotope js -->
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <!-- isotope js -->


      <script src="{% static 'js/pricing-range.js' %}"></script>
      <!-- easyzoom js -->
      <script src="{% static 'js/easyzoom.js' %}"></script>
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
      

      <!-- jquery ui js -->
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <!-- wow js -->
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
   </body>
   {% endblock %}
</html>
