{% load static%}
         <footer>
            
            <div class="container">
               <div class="top-footer">
                  <div class="row">
                     <div class="col-xl-3 col-lg-4">
                        <div class="logo-wrapper1"><img src="{% static 'img/logo-cocoakush.png' %}" alt=""></div>
                        <p style="font-size: 30px; text-align: center;">  <br>Indumentaria Urbana
                           
                        
                     </div>
                     <div class="offset-xl-1 col-xl-2 col-lg-2">
                        <h4>Links</h4>
                        <ul class="userful-links">
                           <li><a href="{% url 'home' %}">Inicio</a></li>
                           <li><a  href="#galeria">Galeria</a></li>
                           <li><a  href="#qa">¿Como Comprar?</a></li>

                        </ul>
                     </div>
                     <div class="col-xl-3 col-lg-2">
                        <h4>Nuestras prendas</h4>
                        <ul class="userful-links">
                            {% for cate in cat %}
                                        

                                          <li><a href="{% url 'catproducto' cate.cat %}">{{ cate.cat }}</a></li>
                                          {% endfor %}
    
                           
                           
                           
                        </ul>
                     </div>
                     <div class="col-xl-3 col-lg-4">
                        <h4>Contacto</h4>
                        <div class="footer-contact">
                           <div class="contact-info">
                         <!--         <div class="icon-wrapper"><i class="flaticon-placeholder"></i></div>
                          <p>143 castle road 517 district, kiyev port south Canada</p>-->
                           </div>
                           <div class="contact-info">
                              <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                              <a href="https://wa.me/5491123933816?text=¡Hola, Coco Kush!"><p style="color: #000000;">11 2393-3816</p></a>
                           </div>
                           <div class="contact-info">
                              <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                              <p>cocoakush.ok@gmail.com</p>
                              
                             
                              
                           </div>
                         
                              <div class="contact-info">
                                 <li><a style="color: black;" href="{% url 'terminosycondiciones' %}">Terminos y Condiciones</a></li>
                            <!--         <div class="icon-wrapper"><i class="flaticon-placeholder"></i></div>
                             <p>143 castle road 517 district, kiyev port south Canada</p>-->
                              </div>

                            
                                 <div class="contact-info">
                                    <li><a style="color: #000000;"  href="{% url 'politicadeprivacidad' %}">Políticas de Privacidad</a></li>
                               <!--         <div class="icon-wrapper"><i class="flaticon-placeholder"></i></div>
                                <p>143 castle road 517 district, kiyev port south Canada</p>-->
                                 </div>


                              
                           <div class="contact-info">
                              
           
                         
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="bottom-footer">
                  <a href="https://maximobatallan.com" target="_blank"><p class="text-center" style="color: #000000;">Desarrollado por Maximo Batallan - 2024</p></a>
               
               </div>
            </footer>

    
    
           <!-- Botón de WhatsApp -->
           <a href="https://wa.me/5491123933816" target="_blank" id="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
          </a>
      
