{% extends "base.html" %}
{% load static%}
{% block head %}
{{ block.super }}

<!-- easyzoom css -->
<link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
<!-- slicknav css -->
<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
<!-- jquery ui css -->
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<!-- animate css -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<!-- main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}
{% include "portada.html" %}
{% include "banner.html" %}

{% include "galeria.html" %}

{% include "consulta.html" %}
{% include "llamadoalaccion.html" %}
{% include "reseñas.html" %}
{% include "QA.html" %}

{% include "quienessomos.html" %}



{% include "footer.html" %}
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- owl carousel js -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- isotope js -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- easyzoom js -->

<script src="{% static 'js/lightbox.min.js' %}"></script>


<!-- slicknav js -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- wow js -->

<script src="{% static 'js/wow.min.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/popup.js' %}"></script>



{% endblock %}

<div class="cta-overlay"></div>

</html>
