{% load static%}
      <!--  about section start  -->
      <div class="about-section home-2">
        <div class="container">
           <div class="row">
              <div class="col-lg-5">
               
                 <div class="pacman">
                    <h2 class="subtitle">Cocoa Games</h2>
                   <p > En Cocoa Kush, siempre estamos buscando formas de hacer tu experiencia aún más emocionante y divertida.</p>
                    <p> Por eso, estamos encantados de presentarles nuestro último lanzamiento: ¡el CocoaGame! Un juego inspirado en el clásico Pac-Man, pero con un giro único de la familia Cocoa.          
                    <p>El Abuelo Cocoa debe escapar de las llamas que lo persiguen y recoger agua para apagarlas. Cada nivel es una nueva aventura donde la astucia y la rapidez son clave para la victoria.</p>
                    
                    <div class="ceo-details">
                       <img src="{% static 'img/logo-cocoakush.png' %}" alt="">
                       <h5>DAVID ANDERSON</h5>
                       <span>Founder & CEO</span>
                    </div>
                 </div>
              </div>
              <div class="col-lg-6 offset-lg-1">
                <img class="ceo-pic" src="{% static 'img/logo-cocoakush.png' %}" alt="">
              </div>
           </div>
        </div>
     </div>
     <!--  about section end  -->
