{% extends "base.html" %}
{% load static%}
{% block content %}

    
<main class="container">
    <div class="row">
        <section class="col-md-8 offset-md-2 mt-5 mb-5">
            <h2 class='text-center'>¡Su pedido fue procesado con éxito!</h2>
            {% csrf_token %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">nombre</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos_para_comprar %}
                <tr>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.nombre }}</td>
          
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <a class='text-justify'> <br>Su pedido esta en proceso de preparación, en caso de dudas o consultas nos contacta al número:<br>+54 9 11 2393-3816<br><br>Gracias por confiar en Cocoa Kush.</a>
        </section>   
    </div>
</main>
                    {% include "footer.html" %}
                    {% endblock %}
                   


