{% extends "base.html" %}
{% load static%}
{% block content %}

    
<main class="container" style="padding-top: 20px;">
    <div class="container">
        <h1>Política de Privacidad</h1>

        <p>En Cocoa Kush, valoramos su privacidad y nos comprometemos a proteger su información personal. Esta política de privacidad describe cómo recopilamos, usamos y compartimos su información cuando visita o realiza una compra en nuestro sitio web.</p>

        <h2>1. Información que Recopilamos</h2>
        <p>Cuando visita el sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluyendo información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su dispositivo. Además, mientras navega por el sitio, recopilamos información sobre las páginas web individuales o productos que ve, qué sitios web o términos de búsqueda lo remitieron al sitio e información sobre cómo interactúa con el sitio. Nos referimos a esta información recopilada automáticamente como "Información del Dispositivo".</p>

        <p>Recopilamos Información del Dispositivo utilizando las siguientes tecnologías:</p>
        <ul>
            <li>Las "cookies" son archivos de datos que se colocan en su dispositivo o computadora y a menudo incluyen un identificador único anónimo. Para obtener más información sobre las cookies y cómo deshabilitarlas, visite <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>.</li>
            <li>Los "archivos de registro" rastrean las acciones que ocurren en el sitio y recopilan datos incluyendo su dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de referencia/salida y sellos de fecha/hora.</li>
            <li>Las "balizas web", "etiquetas" y "píxeles" son archivos electrónicos que se utilizan para registrar información sobre cómo navega por el sitio.</li>
        </ul>

        <h2>2. Cómo Utilizamos su Información</h2>
        <p>Usamos la Información del Pedido que recopilamos generalmente para cumplir con los pedidos realizados a través del sitio (incluyendo el procesamiento de su información de pago, la organización del envío y la entrega de facturas y/o confirmaciones de pedido). Además, utilizamos esta Información del Pedido para:</p>
        <ul>
            <li>Comunicarnos con usted;</li>
            <li>Evaluar nuestros pedidos de riesgo o fraude potencial; y</li>
            <li>Cuando esté de acuerdo con las preferencias que ha compartido con nosotros, proporcionarle información o publicidad relacionada con nuestros productos o servicios.</li>
        </ul>

        <h2>3. Compartir su Información Personal</h2>
        <p>Compartimos su Información Personal con terceros para ayudarnos a usar su Información Personal, como se describió anteriormente. Utilizamos servicios de terceros como Google Analytics para ayudarnos a entender cómo nuestros clientes usan el sitio; puede leer más sobre cómo Google usa su Información Personal aquí: <a href="https://policies.google.com/privacy?hl=es" target="_blank">https://policies.google.com/privacy?hl=es</a>.</p>
        
        <p>Además, utilizamos el Pixel de Facebook para rastrear la actividad de los usuarios y mejorar la publicidad dirigida. Puede leer más sobre cómo Meta (Facebook) usa su Información Personal aquí: <a href="https://www.facebook.com/privacy/explanation" target="_blank">https://www.facebook.com/privacy/explanation</a>.</p>

        <h2>4. Publicidad Basada en el Comportamiento</h2>
        <p>Como se describió anteriormente, utilizamos su Información Personal para proporcionarle anuncios dirigidos o comunicaciones de marketing que creemos que pueden ser de su interés. Para obtener más información sobre cómo funciona la publicidad dirigida, puede visitar la página educativa de Network Advertising Initiative ("NAI") en <a href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work" target="_blank">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.</p>

        <p>Puede optar por no recibir publicidad dirigida utilizando los enlaces a continuación:</p>
        <ul>
            <li>Facebook: <a href="https://www.facebook.com/settings/?tab=ads" target="_blank">https://www.facebook.com/settings/?tab=ads</a></li>
            <li>Google: <a href="https://www.google.com/settings/ads/anonymous" target="_blank">https://www.google.com/settings/ads/anonymous</a></li>
            <li>Bing: <a href="https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads" target="_blank">https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</a></li>
        </ul>

        
        <h2>5. Retención de Datos</h2>
        <p>Cuando realice un pedido a través del sitio, mantendremos su Información del Pedido para nuestros registros a menos y hasta que nos pida que eliminemos esta información.</p>

        <h2>6. Cambios</h2>
        <p>Podemos actualizar esta política de privacidad de vez en cuando para reflejar, por ejemplo, cambios en nuestras prácticas o por otras razones operativas, legales o reglamentarias. Le recomendamos que revise esta página periódicamente para estar al tanto de cualquier cambio.</p>

        <h2>7. Contáctenos</h2>
        <p>Para obtener más información sobre nuestras prácticas de privacidad, si tiene preguntas o si desea presentar una queja, contáctenos por correo electrónico a <a href="mailto:cocoakush.ok@gmail.com">cocoakush.ok@gmail.com</a>.</p>
    </div>
</main>
                    {% include "footer.html" %}
                    {% endblock %}
                   


