
 
 <!--  hero area start  -->
 <div class="hero-area home-4">
   <div class="hero-carousel owl-carousel owl-theme">
      <div class="hero-bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
                     <h1>Indumentaria Urbana</h1>
                     <div class="margen"></div>
                     <a class="cartbtn" data-wow-duration="1.5s" href="{% url 'catproducto' 'Canguros' %}"><span>Lanzamientos 2024</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
      <div class="hero-bg-2">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
                     <h1>Envíos a todo el País</h1>
                     <div class="margen"></div>
                     <div><a href="{% url 'catproducto' 'Canguros' %}" class="cartbtn"><span>Ver Catálogo</span></a></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
      <div class="hero-bg-3">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
                     <h1>Liquidación de Temporada 25% OFF</h1>  
                     <div class="margen"></div>              
                     <a href="{% url 'catproducto' 'Canguros' %}" class="cartbtn"><span>Categorías</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
   </div>
</div>
<!--  hero area end  -->
