
 
 <!--  hero area start  -->
 <div class="hero-area home-4">
   <div class="hero-carousel owl-carousel owl-theme">
      <div class="hero-bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
               
                     <a class="wow fadeInUp boxed-btn" data-wow-duration="1.5s" href="{% url 'catproducto' 'Canguros' %}"><span>Lanzamientos 2024</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
      <div class="hero-bg-2">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
                     <a href="{% url 'catproducto' 'Canguros' %}" class="boxed-btn"><span>Ver Catálogo</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
      <div class="hero-bg-3">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
                
                     <a href="{% url 'catproducto' 'Canguros' %}" class="boxed-btn"><span>Categorías</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
   </div>
</div>
<!--  hero area end  -->
