{% extends "base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
    <!-- rateyo css -->    
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.css' %}">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% endblock %}

{% block content %}
    <!-- product details begin -->
    <div class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product-preview">
                        <div>
                            <img class="single-image" src="#" alt=""/>
                        </div>
                    </div>
                  
                    <div class="product-thumb-slider owl-carousel owl-theme">
                        <div class="single-product">
                            <img class="small" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen }}" alt="{{ producto.nombre }}" width="100">
                            <img class="big" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen }}" alt="{{ producto.nombre }}">
                        </div>
                        <div class="single-product">
                            <img class="small" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen1 }}" alt="{{ producto.nombre }}" width="100">
                            <img class="big" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen1 }}" alt="{{ producto.nombre }}">
                        </div>
                        <div class="single-product">
                            <img class="small" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen2 }}" alt="{{ producto.nombre }}" width="100">
                            <img class="big" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen2 }}" alt="{{ producto.nombre }}">
                        </div>
                        <div class="single-product">
                            <img class="small" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen4 }}" alt="{{ producto.nombre }}" width="100">
                            <img class="big" src="https://imgpaginasweb.s3.sa-east-1.amazonaws.com/{{ producto.imagen4 }}" alt="{{ producto.nombre }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="content">
                        <h4 class="title">{{ producto.nombre }}</h4>
                       
                            <div class="rating" style="width:100%"></div>
                 
                       
                        <div class="price">
                            <span style="font-size: 30px;">${{ producto.precio }}</span>
                         
                        </div>
                        <div class="desc">
                            <p style="font-size: 20px;">{{ producto.descripcion }}</p>
                        </div>
                        <form method="POST" class="product-details-form" action="{% url 'signin' %}">
                            {% csrf_token %}
                            <div class="row">
                              <div class="col-lg-6">
                                 <div class="filter color">
                                    <h6 style="font-size: 20px;" class="label">Elija el color :</h6>
      
                                   
                                        <label class="container">{{ colores|upper }}
                                             <input type="radio" name="color" value="{{ colores }}" onchange="redirectToColorAndTalle('{{ colores }}')" {% if colores == color_seleccionado %} checked {% endif %} required>
                                             
                                             <span class="checkmark"></span>
                                        </label>
                                   
                                </div>
                             </div>
                                <div class="col-lg-6 mb-2">
                                    <h6 style="font-size: 20px;" class="label">Tamaño :</h6>
                                    {% if cantidad_total is not None %}

                                    <select id="talle-selector" name="talle" required onchange="redirectToColorAndTalle(document.querySelector('input[name=color]:checked').value, this.value)">
                                       <option value="" disabled selected>Selecciona un talle</option>
                                       {% for talle in talles %}
                                           <option value="{{ talle }}" {% if talle == talle_seleccionado %} selected {% endif %}>{{ talle }}</option>
                                       {% endfor %}
                                   </select>
                                {% else %}
                                    <p>No hay opciones de talle disponibles.</p>
                                {% endif %}
                                 
                                </div>
                            </div>
                   
                            <div class="row align-items-end mb-3">
                              <div class="col-lg-6">
                                  <h6 style="font-size: 20px;" class="label">Cantidad :</h6>
                                  <input type="number" name="quantity" placeholder="1" min="1" max="{{ cantidad_total }}">
                              </div>
                                <div class="col-lg-6"></div>
                            </div>
                            <div class="actions">
                                <div class="row">
                                    {% if not user.is_authenticated %}
                                        <div class="col-lg-4">
                                   
                                            <form method="post">
                                                {% csrf_token %}
                                                <!-- Otros campos del formulario aquí -->
                                                <input type="hidden" name="talle" value="{{ talle_seleccionado }}">
                                                <input type="hidden" name="color" value="{{ color_seleccionado }}">
                                                
                                                <button type="submit" name="submit_post" formaction="{% url 'Add' producto.id %}" class="wishlist">Agregar al carrito</button>
                                            </form>
                                        </div>
                                        
                                    {% else %}
                                        <div class="col-lg-4">
                                           
                                            <form method="post">
                                                {% csrf_token %}
                                                <!-- Otros campos del formulario aquí -->
                                                <input type="hidden" name="talle" value="{{ talle_seleccionado }}">
                                                
                                                <input type="hidden" name="color" value="{{ color_seleccionado }}">
                                                <button type="submit" name="submit_post" formaction="{% url 'Add' producto.id %}" class="wishlist">Agregar al carrito</button>
                                            </form>
                                        </div>
                                        <div class="col-lg-4"></div>
                                        {% if request.session.carrito.items %}
                                            <div class="col-lg-4">
                                                <button name="submit_post" formaction="{% url 'cart' %}">
                                                    <i class="fas fa-shopping-cart"></i>Ir a Pagar
                                                </button>
                                            </div>
                                        {% else %}
                                            <div class="col-lg-4"></div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Details Tabs Start -->
        <div class="container product-infos">
            <div class="row">
                <div class="col-lg-9">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="specifications-tab" data-toggle="tab" href="#specifications" role="tab" aria-controls="specifications" aria-selected="false">Descripcion</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade specifications show active" id="specifications" role="tabpanel" aria-labelledby="specifications-tab">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">Características:</th>
                                        <td>Material: 100% algodón peinado 24.1, fresco y resistente.<br>
                                             Diseño: Corte oversize, con cuello redondo y mangas amplias.<br>
                                                 Color: Disponible en colores básicos y tonos exclusivos de la temporada.<br>
                                                     Detalles: Estampado técnica DTF (Direct to Film).<br></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Talles disponibles:

                                        </th>
                                        <td><p>S (Ancho: 56 cm, Largo: 72 cm) <br>
                                              M (Ancho: 58 cm, Largo: 74 cm)<br>
                                             L (Ancho: 60 cm, Largo: 76 cm)<br>
                                             XL (Ancho: 62 cm, Largo: 78 cm)<br></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">¿Cómo combinarla?</th>
                                        <td>Ideal para usar con jeans, joggings, bermudas o shorts. <br> Prenda cómoda y versátil.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">¿Cómo comprar?</th>
                                        <td>Selecciona tus prendas favoritas, elije el talle y presiona "AGREGAR AL CARRITO".<br>
                                            Cuando estés listo, elige cómo deseas recibir tu pedido: envío por correo o acordar la entrega vía WhatsApp.<br>
                                            Selecciona el método de pago: MercadoPago (con un recargo del 5%).<br>
                                            Espere a que se procese el pago y vera la confirmación de compra que tambien la recibira por mail.<br></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">¿Métodos de pago?</th>
                                        
                                        <td>MercadoPago: tarjetas de crédito y débito, efectivo, y más.<br>
                                             Transferencia bancaria.<br></td>
                                    </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Tabs End -->
    </div>
    <!-- product details end -->

    <!-- cta section start -->
    {% include "footer.html" %}
    <!-- cta section end -->


    <script>
        function redirectToColorAndTalle(color, talle) {
            // Construye la URL con el color y el talle seleccionados
            const url = '{% url "PD" producto_id=producto_id %}?color=' + encodeURIComponent(color) + '&talle=' + encodeURIComponent(talle);
            // Redirige a la URL construida
            window.location.href = url;
        }
     </script>
    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/rating.js' %}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- isotope js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- pricing-range js -->
    <script src="{% static 'js/pricing-range.js' %}"></script>
    <!-- easyzoom js -->
   
    <!-- rateyo js -->
    <script src="{% static 'js/jquery.rateyo.min.js' %}"></script>
    <!-- slicknav js -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <!-- jquery ui js -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- wow js -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
