<!--   faq section start    -->
<div id="qa" class="faq-section">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-lg-7">
             <div class="targets">
                <div class="box wow fadeInUp" data-wow-duration="1.5s">
                   <div class="icon-wrapper"><i class="flaticon-external-link-square-with-an-arrow-in-right-diagonal"></i></div>
                   <div class="box-details">
                      <h4>¿Como realizar un pedido?</h4>
                      <p style="text-align: justify;">
                        Nuestro proceso es simple:
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li style="text-align: justify;">📦 Selecciona la prenda, elija el talle deseado.</li>
                            <li style="text-align: justify;">💳 Agrega al carrito y realiza el pago de forma segura a través de MercadoPago o Transferencia Bancaria.</li>
                            <li style="text-align: justify;">⏳ Después de completar el pago, nuestro equipo prepara su pedido y sera enviado a la brevedad.</li>
                           
                        </ul>
                        
                    </p>
                    
                   </div>
                </div>
             </div>
          </div>
          <div class="offset-xl-1 col-xl-5 col-lg-5 faqs">
            
             <div class="accordion" id="accordionExample">
                <div class="card wow fadeInUp" data-wow-duration="1s">
                   <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                         ¿Por que elegirnos?                        
                         </button>
                      </h2>
                   </div>
                   <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body"style="text-align: justify;">
                       Además de ofrecer prendas de alta calidad, en Cocoa Kush valoramos la relación directa con nuestros clientes es por eso que cuenta con nuestro telefono de contacto via Whatsapp para consultar todas sus dudas.                  </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                   <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Metodo de Pago Seguro <br> Mercado Pago o Transferencia Bancaria
                         </button>
                      </h2>
                   </div>
                   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body" style="text-align: justify;">
                        Puede abonar sus compras a traves de Mercado Pago o Transferencia Bancaria de manera Segura.
                      </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                   <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           ¿Cuanto tarda en llegar mi pedido?
                         </button>
                      </h2>
                   </div>
                   <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body" style="text-align: justify;">
                         Una vez que se confirmo la compra, se procede a preparar el pedido inmediatamente, luego se despacha por correo y podrá realizar el seguimiento del mismo.
                      </div>
                      
                   </div> </div>

                
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--   faq section end    -->
