{% load static%}


 <!--  about section start  -->
 <div id="nosotros" class="about-section home-2">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <img class="ceo-pic" src="{% static 'img/quienessomos.avif' %}" alt="seguidores">
          </div>
          <div class="col-lg-6 offset-lg-1">
             <div class="comment-content">
                <span class="title">Cocoa Kush</span>
                <h2 style="text-align: left;" class="subtitle">Indumentaria Urbana</h2>
                <p>No sabia que necesitaba un buzo Cocoa</p>
               
                  
                  <p>  Cocoa   </p>
                     <p>  Cocoa 1</p>
                        

                  </p>
                  <a class="wow fadeInUp boxed-btn" data-wow-duration="1.5s" href="#galeria"><span>Galeria</span></a> 
            
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--  about section end  -->