
      <!--  Testimonial section start  -->
      <div class="testimonial-section">
         <div class="container">
            <div class="testimonial-container">
               <div class="row">
                  <div class="col-lg-5">
                     <div class="testimonial">
                        <span class="title">Nuestro Clientes</span>
                        <h2 class="subtitle">comentarios</h2>
                        <div class="testimonial-carousel owl-carousel owl-theme">
                           <div class="single-testimonial">
                              <p>Gracias Cocoa, excelente calidad, excelente Atención.
                              </p>
                              <h5>Jorge</h5>
                              <span>Santa Fé</span>
                           </div>
                           <div class="single-testimonial">
                              <p>Un lujo la calidad de la prenda y diseños tan lindos, buenisimos los talles amplios </p>
                              <h5>Ana</h5>
                              <span>Nuñez</span>
                           </div>
                           <div class="single-testimonial">
                              <p>¡Excelente la calidad de las prendas! Gracias Cococa Kush, me hare fan de la marca!</p>
                              <h5>Manuel</h5>
                              <span>Cordoba</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-7">
                     <div class="free-space"></div>
                  </div>
               </div>
               <div class="quote-icon">
                  <i class="flaticon-quote-left"></i>
               </div>
            </div>
         </div>
      </div>
      <!--  Testimonial section end  -->

