{% load static%}


 <div class="testimonial-section">
    <div class="container">
       <div class="testimonial-container">
          <div class="row">
             <div class="col-lg-5">
                <div class="testimonial">
                   <span class="title">Reseñas</span>
                   <h2 class="subtitle">Nuestros Clientes</h2>
                   <div class="testimonial-carousel owl-carousel owl-theme owl-loaded owl-drag">
                      
                      
                      
                   <div   class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-764px, 0px, 0px); transition: all 1s ease 0s; width: 2674px; text-align: justify;"><div class="owl-item cloned" style="width: 382px;"><div class="single-testimonial">
                    <p style="padding-left: 5%; padding-right: 5%;">¡Increíble experiencia con Amor x el Deporte! Pedí un set de camisetas personalizadas para nuestro equipo y el resultado superó todas nuestras expectativas. La calidad del producto es excepcional y el proceso de pedido fue sencillo y rápido. ¡Definitivamente volveremos a comprar aquí para futuros uniformes!</p>
                    <h5 style="padding: 15px;">Ricardo</h5>
                         <span style="padding: 15px;">Urquiza City</span>
                      </div></div><div class="owl-item cloned" style="width: 444.156px;"><div class="single-testimonial">
                         <p style="padding-left: 5%; padding-right: 5%;">Recomiendo encarecidamente Amor x el Deporte para cualquier equipo que busque camisetas de calidad a un precio asequible. El equipo de atención al cliente fue extremadamente servicial y receptivo a todas nuestras preguntas y solicitudes.
                            Además, el tiempo de entrega fue más rápido de lo esperado. ¡Gracias por un servicio excepcional!</p>
                         <h5 style="padding: 15px;">Romina López</h5>
                         <span style="padding: 15px;">Estrellas del Norte</span>
                      </div></div><div class="owl-item" style="width: 444.156px;"><div class="single-testimonial">
                         <p style="padding-left: 5%; padding-right: 5%;">No puedo expresar lo contento que estoy con el servicio de Amor x el Deporte. Desde el momento en que solicité el diseño personalizado de nuestras camisetas de fútbol hasta la entrega final, el proceso fue impecable. El equipo fue profesional y amigable, 
                           y nuestras camisetas lucen increíbles. ¡Gracias por hacer que nuestro equipo se vea genial en el campo!
                         </p>
                         <h5 style="padding: 15px;">Leonas del Valle</h5>
                         <span style="padding: 15px;">Laura Martínez</span>
                      </div></div><div class="owl-item active" style="width: 444.156px;"><div class="single-testimonial">
                         <p style="padding-left: 5%; padding-right: 5%;">¡5 estrellas para Amor x el Deporte! La calidad de las camisetas de fútbol personalizadas que pedimos para nuestro equipo es excepcional. El proceso de diseño y pedido fue fácil de seguir, y el equipo estuvo disponible para cualquier pregunta que tuviéramos.
                            Además, el tiempo de entrega fue rápido y cumplió con nuestras expectativas. ¡Definitivamente volveremos a comprar aquí!</p>
                         <h5 style="padding: 15px;" >Juan</h5>
                         <span style="padding: 15px;">Tigres del Sur</span>
                      </div></div></div></div>
                      
                      
                      
                      <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next">
                        
                        
                        
                        <span aria-label="Next">›</span>
                     
                     


                        
                     
                     
                     
                     </button></div><div class="owl-dots disabled"></div></div>
                </div>
             </div>
             <div class="col-lg-7">
                <div class="free-space"></div>
             </div>
          </div>
          <div class="quote-icon">
             <i class="flaticon-quote-left"></i>
          </div>
       </div>
    </div>
 </div>