{% extends "base.html" %}
{% load static%}
{% block content %}

    
<main class="container">
    <div class="container">
        <h1>Condiciones de Servicio</h1>

        <h2>1. Introducción</h2>
        <p>Bienvenido a Cocoa Kush. Al acceder o utilizar nuestro sitio web, usted acepta estar sujeto a estos términos y condiciones.</p>

        <h2>2. Aceptación de los Términos</h2>
        <p>Al usar nuestro sitio, usted acepta cumplir con estos términos. Si no está de acuerdo con alguna parte de los términos, no debe usar nuestro sitio.</p>

        <h2>3. Modificaciones de los Términos</h2>
        <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Se recomienda revisar esta página regularmente para estar al tanto de cualquier cambio.</p>

        <h2>4. Uso del Sitio Web</h2>
        <p>Usted acepta utilizar nuestro sitio web solo con fines legítimos y de una manera que no infrinja los derechos de, restrinja o inhiba el uso y disfrute del sitio por parte de terceros.</p>

        <h2>5. Propiedad Intelectual</h2>
        <p>Todo el contenido del sitio, incluyendo textos, gráficos, logotipos, y software, es propiedad de Cocoa Kush y está protegido por leyes de derechos de autor y otras leyes de propiedad intelectual.</p>

        <h2>6. Limitación de Responsabilidad</h2>
        <p>No seremos responsables de ningún daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de usar nuestro sitio.</p>

        <h2>7. Privacidad</h2>
        <p>Consulte nuestra <a href="politicadeprivacidad.html">Política de Privacidad</a> para obtener información sobre cómo recopilamos, utilizamos y divulgamos su información personal.</p>

        <h2>8. Enlaces a Terceros</h2>
        <p>Nuestro sitio puede contener enlaces a sitios web de terceros. No somos responsables del contenido o las prácticas de privacidad de esos sitios.</p>

        <h2>9. Terminación del Servicio</h2>
        <p>Podemos suspender o terminar su acceso a nuestro sitio en cualquier momento, sin previo aviso, por cualquier motivo, incluyendo el incumplimiento de estos términos.</p>

        <h2>10. Ley Aplicable</h2>
        <p>Estos términos se regirán e interpretarán de acuerdo con las leyes de la República Argentina.</p>

        <p>Si tiene alguna pregunta sobre estos términos, por favor contáctenos en <a href="mailto:cocoakush.ok@gmail.com">cocoakush.ok@gmail.com</a>.</p>
    </div>
</main>
                    {% include "footer.html" %}
                    {% endblock %}
                   


